/* font-family: 'Share Tech Mono', monospace; */
body {
  margin: 0;
}
.header {
  height: 80px;
}
.header_wrapper {
  display: inline-block;
  margin-left: 200px;
}
.link {
  text-decoration: none;
}
.header__logo_picture {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-top: 7px;
  color: #01dfd0;
}
.header_first-section-background {
  background-image: url(./image/Image.png);
}

.team_background,
.header_first-section-background {
  background-repeat: no-repeat;
  height: 100%;
}

.header__name_text {
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  color: #01dfd0;
}
.header__nav {
  display: inline-block;
  margin-left: 260px;
  vertical-align: top;
  margin-top: 30px;
}
.header_nav-links {
  display: inline-block;
  padding: 0px 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #fff;
}
.header_nav-links:hover {
  color: #01dfd0;
}

img[src$=".svg"] {
  filter: invert(77%) sepia(49%) saturate(4620%) hue-rotate(128deg)
    brightness(101%) contrast(99%);
}
.first-section-wrapper {
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}
.first-section-title {
  margin-top: 110px;
  font-size: 32px;
  font-family: "Abril Fatface", cursive;
  color: #fff;
  font-weight: 500;
}
.first-section-line {
  width: 50px;
  border: none;
  background-color: #01dfd0;
  color: #01dfd0;
  height: 1px;
  margin-top: 30px;
}

.first-section-subtitle {
  color: fff;
  margin-top: 34px;
  text-align: center;
  font-family: sans-serif;
  font-size: 15px;
  word-spacing: 2px;
  line-height: 1.5;
}
.first-section-links {
  display: inline-block;
  margin-top: 65px;
}
.section-links {
  border: 1px solid #01dfd0;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #01dfd0;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
.first-section-button {
  display: block;

  width: 70px;
  height: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.button_1 {
  background-color: #01dfd0;
}
.button {
  border: 1px solid #01dfd0;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  display: inline-block;
  vertical-align: top;
  margin-top: 3px;
}
/* tajam 2 */
.expertise {
  display: inline-block;
  text-align: center;
  min-width: 1349px;
  margin-top: 80px;
  margin-bottom: 30px;
}
.our_woks__title,
.expertise__title {
  text-transform: uppercase;
  color: black;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 10px;
}
.our_woks__subtitle,
.expertise__subtitle {
  color: grey;
  margin-bottom: 10px;
}
.expertise__Line {
  color: grey;
  width: 40px;
}
.features {
  display: block;
  text-align: center;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}
.features__item {
  vertical-align: top;
  display: inline-block;
  width: 267px;
  height: 219px;
  padding: 12px;
  text-align: center;
}
.features_image {
  padding: 20px;
}
.features_title {
  text-transform: uppercase;
  padding-bottom: 15px;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #2f2d35;
}
.features_text {
  color: #8b8b8b;
  font-family: sans-serif;
}
.features__item_1 {
  border-right: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
}
.features__item_2 {
  border-left: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
}
.features__item_3 {
  border-left: 2px solid #f2f2f2;
  border-top: 2px solid #f2f2f2;
  border-right: 2px solid #f2f2f2;
  margin: -2px;
  padding: 14px;
}
.team_description,
.team_background {
  background-image: url(./image/team_image.png);
}
.team {
  display: inline-block;
  text-align: center;
  min-width: 1349px;
  margin-top: 40px;
  margin-bottom: 30px;
}
.team_description__title,
.team__title {
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 10px;
}
.team_description__title--big {
  font-size: 70px;
  text-align: center;
}
.team_description__subtitle {
  margin: 0 15%;
}
.team_description__subtitle,
.team__subtitle {
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
}
.team__Line {
  color: #50476e;
  width: 40px;
}

.features_team_wrapper {
  text-align: center;
}
.features_team__item {
  display: inline-block;
  margin: 20px;
}
.team_name_wrapper {
  border: 1px solid grey;
  padding: 20px;
}

.features_team_name {
  color: #f2f3f7;
  font-weight: 600;
}
.features_team_profession {
  color: #8c86aa;
}

.features_team_profession,
.features_team_name {
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}
.features_team__subtitle {
  text-align: center;
  color: #fff;
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
.our_works__links,
.features_team_links {
  text-align: center;
  margin-top: 25px;
}

.our_works {
  height: 645px;
}
.our_works_wrapper {
  justify-content: space-around;
  display: flex;
  align-items: center;
  margin: 50px 0px;
}
.our_woks__subtitle {
  font-family: sans-serif;
  font-size: 14px;
}
.our_works__links {
  text-align: center;
  margin-top: 70px;
}
.link_to_work {
  text-decoration: none;
  color: grey;
}
.team_description__title {
  padding-top: 100px;
}
.team_description_members__name {
  color: #f2f3f7;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  padding-top: 30px;
}
.team_description_members__profession {
  color: #8c86aa;
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 14px;
  padding-top: 7px;
  font-weight: 400;
}
.carusel_photo {
  padding-top: 50px;
  padding-bottom: 140px;
  text-align: center;
}
.first_photo,
.Last_photo {
  color: #fff;
  font-weight: 600;
  font-size: 25px;
}
.photo {
  margin: 0 5px;
  border: #fff;
  border-radius: 50%;
}
.carusel_photo_wrapper {
  width: 450px;
  display: inline-flex;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}
